* { padding: 0; margin: 0; }



.ui-menu-e {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    -moz-border-radius: 0px 0px 6px 6px !important;
}

.ui-menu-e ul {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    -moz-border-radius: 0px 0px 6px 6px !important;
}

.ui-menu-e li a {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    -moz-border-radius: 6px 6px 0px 0px !important;
}

.ui-menu-e ul li ul li a {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
    -moz-border-radius: 0px 0px 0px 0px !important;
}

html, body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    /*background:transparent url(../images/mainmenu/bgOFF1.gif) repeat-x top left;*/
    background-position: 0px 64px;
}

pre {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
}

p {
    padding: 10px;
}

td {
    vertical-align: middle;
}

em {
    font-style: normal;
}

.ui-panel-titlebar {
    height: 16px;
}

img {
    border: 0px;
}

a:link, a:visited {
    color: #B30000;
    font-weight : bold;
    text-decoration: none;
}

a:link:hover, a:visited:hover  {
    color: #B30000;
    font-weight : bold;
    text-decoration : underline;
}

.ui-breadcrumb {
    color: #B30000;
    background: #fff;
    border: 0px;
}

div.rating-cancel, div.rating-cancel a {
    display: none!important;
}

.ui-state-active span {
    color: black !important;
}

.ui-ihoda-dialog {
    font-weight: normal !important;
}

.menu a:hover {
    color: black !important;
}

.wijmo-wijmenu-child span {
    color: black !important;
}

.menu a {
    color: white !important;
}

.ui-selectonemenu .ui-selectonemenu-trigger {
    border-right: 0 !important;
    border-top: 0 !important;
    cursor: pointer;
    height: 100%;
    padding: 0 6px;
    position: absolute;
    right: 0;
    top: 0;
    width: 16px;
}

.ui-selectonemenu-panel {
    min-width: 150px !important;
}

.ui-selectonemenu {
    height: 22px;
    text-align: center;
    min-width: 150px;
}

.ui-selectonemenu-label {
    height: 16px;
}

.ui-select-embracon {
    background: url("../images/ui-bg_highlight-hard_100_eeeeee_1x100.png") repeat-x scroll 50% 50% transparent;
    -moz-border-radius: 6px 6px 6px 6px;
    border: 1px solid #D8DCDF;
    color: #222222;
    font-weight: bold;
}

.ui-select-embracon option {
    background-color: #EEEEEE;
}

.ui-fileupload-files {
    display: none;
}

.ui-messages-info {
    display: none;
}

.order-button {
    padding: 4px 6px !important;  
    width: 15px; 
    text-align: center
}

.complexidade-datatable {
    font-weight: bold;
    margin: 10px; 
    text-align: center; 
    color: #a6a6a6;
}

.nested-datatable td {
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
    text-align: center !important;
}

.datatable {
    padding: 0;
}

.datatable td {
    padding: 4px 0 !important;
    text-align: center !important;
}

.datatable TH {
    text-align: center !important;
}

.confirm-dialog-message {
    margin: 10px 10px 30px 10px;
    border-width: 1px 0 0;
}

.confirm-dialog-button {
    border-width: 1px 0 0 !important;
    -moz-border-radius: 0px !important;
    background: none !important;
}

.dialog-toolbar {
    background: none !important;
    border: 0px !important;
}

.menu-toolbar {
    /*  background: url(../resources/themes/ihoda/images/ui-bg_highlight-hard_100_eeeeee_1x100.png) #eeeeee repeat-x 50% 50% !important;
      border: #d8dcdf 1px solid !important; */
    margin-bottom: 10px;

    background: none !important;
    border: 0px !important;
}

.menu-toolbar-group-left a {
    padding-right: 10px;
    font-weight: normal !important;
    color: black !important;
}

.menu-toolbar-top {
    float: left;
    border: #fff 1px solid;
    margin-right: 5px;
    font-size: 10px;
}

.menu-toolbar-top:hover {
    background-color: #f6f6f6;
    border-bottom: #a6a6a6 1px solid;
    border-right: #a6a6a6 1px solid;
    border-left: #D8DCDF 1px solid;
    border-top: #D8DCDF 1px solid;
}

.logout {
    background-color: white !important;
    padding-right: 10px !important;
}

.logout span {
    color: black !important;
}