* { padding: 0; margin: 0; }

.input-color-red  {
	opacity: .99 !important; 
	text-align: center; 
	background-color: #FFFFF0 !important;
	background: white !important;
	-moz-box-shadow: inset 0 2px 2px #d8dcdf !important;
	-webkit-box-shadow: inset 0 2px 2px #d8dcdf !important;
	box-shadow: inset 0 2px 2px #d8dcdf !important;
	margin: 0;
	padding: 4px;
	color: #FF0000 !important;
}

.input-color-blue {
	opacity: .99 !important; 
	text-align: center; 
	background-color: #FFFFF0 !important;
	background: white !important;
	-moz-box-shadow: inset 0 2px 2px #d8dcdf !important;
	-webkit-box-shadow: inset 0 2px 2px #d8dcdf !important;
	box-shadow: inset 0 2px 2px #d8dcdf !important;
	margin: 0;
	padding: 4px;
	color: #004276 !important;
}

#inventory-gp-tab {
    width: 100% !important;
    border: none !important;
}

.ui-button-text {
	margin-top: 2px !important;
}

#dlItens ul {
	border: 0px !important;
	margin: 3px 0 10px 0;
}

#dlItens ul li {
	font-size: 10px;
	margin-left: 20px;
	padding: 2px;
}

.ui-inventory-gp-label {
	color: #C00; 
	font-weight: bold;
	30550
}

.ui-selectoneradio td {
	padding-left: 8px !important;
}

.ui-inventory-gp-mask {
    position: absolute;
    top:0;
    left:0;
    background: #A6A6A6 url("/inventory-gp/web/javax.faces.resource/images/ui-bg_dots-small_65_a6a6a6_2x2.png?ln=primefaces-blitzer") 50% 50% repeat;
    opacity: .45;
    filter: Alpha(Opacity=40)/*{opacityOverlay}*/;
    z-index: 3250;
}

.ui-toolbar-menu-c {
	color: white !important;
	padding: 0 10px;
	padding-top: 20px !important;
}

.ui-toolbar-menu-b {
	color: #004276 !important;
	padding: 0 10px;
}

#msgDlgGlobal .ui-messages-error {
    background-color: #fff !important;
    border-color: #fff !important;
}

.ui-messages-error {
    background: url(../images/ui-bg_highlight-hard_100_eeeeee_1x100.png?ln=primefaces-blitzer) #eeeeee repeat-x 50% 50% !important;
    color: #cc0000 !important;
    border-color: #E0E0E0 !important;
}

.inventory-gp-ui-menu-link {
    color: #004276 !important;
    font-weight: bold !important;
    font-size: 8pt !important;
}

.inventory-gp-ui-link {
    color: #cc0000 !important;
    font-weight: normal !important;
    font-size: 8pt !important;
}

.inventory-gp-ui-link:hover {
    text-decoration: underline !important;
}

.ui-selectonemenu {
    display: block !important;
}

.ui-tabs {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.ui-datatable-footer {
    text-align: right !important;
}

.ui-datatable-header {
    /*    text-align: right !important; */
}

/*.ui-widget-header {
    background: red !important;
}*/

.ui-menu-e {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    -border-top-left-radius: 0px !important;
    -border-top-right-radius: 0px !important;
    -moz-border-radius: 0px 0px 6px 6px !important;
}

.ui-menu-e ul {
    -border-top-left-radius: 0px !important;
    -border-top-right-radius: 0px !important;
    -moz-border-radius: 0px 0px 6px 6px !important;
}

.ui-menu-e li a {
    -border-bottom-left-radius: 0px !important;
    -border-bottom-right-radius: 0px !important;
    -moz-border-radius: 6px 6px 0px 0px !important;
}

.ui-menu-e ul li ul li a {
    -border-bottom-left-radius: 0px !important;
    -border-bottom-right-radius: 0px !important;
    -border-top-right-radius: 0px !important;
    -border-top-left-radius: 0px !important;
    -moz-border-radius: 0px 0px 0px 0px !important;
}

html, body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    /*background:transparent url(../images/mainmenu/bgOFF1.gif) repeat-x top left;*/
    background-position: 0px 64px;
}

pre {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
}

p {
    padding: 10px;
}

td {
    vertical-align: middle;
}

em {
    font-style: normal;
}

.ui-panel-titlebar {
    height: 16px;
}

img {
    border: 0px;
}

a:link, a:visited {
    color: #00000F; /* Vermelho escuro #00000F*/
    font-weight : bold;
    text-decoration: none;
}

a:link:hover, a:visited:hover  {
    color: #00000F;
    font-weight : bold;
    text-decoration : underline;
}

.ui-breadcrumb {
    color: #00000F;
    background: #fff;
    border: 0px;
}

div.rating-cancel, div.rating-cancel a {
    display: none!important;
}

.ui-state-active span {
    color: black !important;
}

.ui-ihoda-dialog {
    font-weight: normal !important;
}

.menu a:hover {
    color: black !important;
}

.wijmo-wijmenu-child span {
    color: black !important;
}

.menu a {
    color: white !important;
}

.ui-selectonemenu .ui-selectonemenu-trigger {
    border-right: 0 !important;
    border-top: 0 !important;
    cursor: pointer;
    height: 100%;
    padding: 0 6px;
    position: absolute;
    right: 0;
    top: 0;
    width: 16px;
}

.ui-selectonemenu-panel {
    min-width: 150px !important;
}

.ui-selectonemenu {
    height: 22px;
    text-align: center;
    min-width: 150px;
}

.ui-selectonemenu-label {
    height: 16px;
}

.ui-select-embracon {
    background: url("../resources/themes/inventory-gp/images/ui-bg_highlight-hard_100_eeeeee_1x100.png") repeat-x scroll 50% 50% transparent;
    -moz-border-radius: 6px 6px 6px 6px;
    border: 1px solid #D8DCDF;
    color: #222222;
    font-weight: bold;
}

.ui-select-embracon option {
    background-color: #EEEEEE;
}

.ui-fileupload-files {
    display: none;
}

.ui-messages-info {
    display: none;
}

.order-button {
    padding: 4px 6px !important;  
    width: 15px; 
    text-align: center
}

.complexidade-datatable {
    font-weight: bold;
    margin: 10px; 
    text-align: center; 
    color: #a6a6a6;
}

.nested-datatable td {
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
    text-align: center !important;
}

.datatable {
    padding: 0;
}

.datatable td {
    padding: 4px 0 !important;
    text-align: center !important;
}

.datatable TH {
    text-align: center !important;
}

.confirm-dialog-message {
    margin: 10px 10px 30px 10px;
    border-width: 1px 0 0;
}

.confirm-dialog-button {
    border-width: 1px 0 0 !important;
    -moz-border-radius: 0px !important;
    background: none !important;
}

.dialog-toolbar {
    background: none !important;
    border: 0px !important;
}

.menu-toolbar {
    margin: 10px 5px;
    background: none !important;
    border: 0px !important;
}

.menu-toolbar-top {
    margin: 10px 5px;
    margin-top: 0px !important;
    background: none !important;
    border: 0px !important;
}

.menu-toolbar-confirm {
    margin: 0px 5px;
    background: none !important;
    border: 0px !important;
}

.menu-toolbar-group-left a {
    padding-right: 10px;
    font-weight: normal !important;
    color: black !important;
}

.menu-toolbar-group-right button {
    margin-right: 2px;
}

.menu-toolbar-top {
    float: left;
    border: #fff 1px solid;
    margin-right: 5px;
    font-size: 10px;
}


.menu-toolbar-top:hover {
    background-color: #f6f6f6;
    border-bottom: #a6a6a6 1px solid;
    border-right: #a6a6a6 1px solid;
    border-left: #D8DCDF 1px solid;
    border-top: #D8DCDF 1px solid;
}

.menu-toolbar-mousehover {
    background-color: #f6f6f6 !important;
    border-bottom: #a6a6a6 1px solid !important;
    border-right: #a6a6a6 1px solid !important;
    border-left: #D8DCDF 1px solid !important;
    border-top: #D8DCDF 1px solid !important;
}

.menu-toolbar-mousedown {
    background-color: #f9f9f9 !important;
    border-left: #a6a6a6 1px solid !important;
    border-top: #a6a6a6 1px solid !important;
    border-bottom: #D8DCDF 1px solid !important;
    border-right: #D8DCDF 1px solid !important;
}


.logout {
    background-color: white !important;
    padding-right: 10px !important;
}

.logout span {
    color: black !important;
}

.ui-state-disabled {
	color: blue !important;
	font-weight: bold !important;
	opacity: .80 !important;		
}

.ui-datepicker-unselectable > .ui-state-default {
	opacity: .30 !important;
}
